.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  margin-top: 1px;
}

/* Define the thumb style */
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #9ca3af 0%, #9ca3af 100%);
  border-radius: 5px;
  height: 10%; /* Adjust the height to your preference */
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/whatsappbg.png");
  background-size: repeat; /* adjust as needed */
  opacity: 0.5;
}

.main-container {
  position: relative;
  width: 1367px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: #fff;
  display: flex;
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5), 0px 2px 5px 0 rgba(0, 0, 0, 0.6);
}

.img-box {
  position: relative;
  width: 65px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
}

.chat-list {
  position: relative;
  height: calc(100% - 110px);
  overflow-y: auto;
}

.emojianimationn {
  transform-origin: center bottom;
  left: 470.031px;
  margin-left: 0px;
  margin-right: 0px;
  bottom: 221.5px;
  transform: scale(0);
  opacity: 0;
  animation: scaleAnimation 0.5s ease-out forwards;
  z-index: 1;
}

@media screen and (max-width: 762px) {
  .main-container {
    position: relative;
    width: 1367px;
    max-width: 100%;
    height: auto;
    background: #fff;
    display: flex;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5),
      0px 2px 5px 0 rgba(0, 0, 0, 0.6);
  }
}

@media screen and (max-width: 800px) {
  .chat-list {
    position: relative;
    height: calc(100%);
    overflow-y: auto;
  }
}

@keyframes scaleAnimation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
